<html ng-app='repl'>
  <head>
    <!-- code mirror -->
    <script src="../CodeMirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="../CodeMirror/lib/codemirror.css">
    <script src="../CodeMirror/mode/javascript/javascript.js"></script>
    <script src="../CodeMirror/mode/python/python.js"></script>
    <!-- angular, bootstrap, jquery -->
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- my controller and styles-->
    <script src="../controllers/main.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>
  <body ng-class="{grey:repling}" ng-controller='mainCtrl as main'>
    <div home ng-show="!repling"></div>
    <div repl ng-show="repling"></div>
  </body>
</html>





